extends layout
block content
    h5 Welcome to my page.
    h1 VIHAN
    hr
    form(action='/api/register' method='post')
        label user name :
        input(type='text' placeholder='user name' name='user')
        br
        label password :     
        input(type='password' placeholder='password' name='pass')
        input(type='submit' value='submit' name='submit')
    include extra
    br
    a(href='/musics/liked-music' download='music.mp3') beloved music!
    br
    a(href='http://google.com') google
