/* .customDiv {
    color: blue;
    margin: 3px;
    min-height: 300px;
    background-color: siver;
    text-align: center;
    font-size: large;
} */

.vihan {
    /* background-image: url("https://images.app.goo.gl/zsdCxrw8bKmSLHg4A"); */
    background: black;
}